body{
    background-color: black;
    color: white;
}

#spacexLogo{
    width: 500px;
    height: auto;
}

.brandstof{
    background-color: #212529;
    border-radius: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.afstand{
    background-color: #212529;
    border-radius: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    font-size: 12px;
}